# Ignore node_modules in client & server
client/node_modules/
server/node_modules/

# Ignore Next.js build & cache
client/.next/
client/out/
client/.vercel/
client/dist/

# Ignore log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.test.js

# Ignore environment files (API keys, secrets)
.env
.env.local
.env.development.local
.env.production.local

# Ignore OS/system files
.DS_Store
Thumbs.db

